/.vscode
/Microdados ENADE
/dados.zip
/dw_prova_individual.db
/MICRODADOS_ENADE_2017.txt
/MICRODADOS_ENADE_2017.csv
/MICRODADOS_ENADE_2017.zip
/microdados_enade_2018.txt
/microdados_enade_2018.zip
/microdados_enade_2018.csv
/microdados_enade_2019.txt
/microdados_enade_2019.zip
/microdados_enade_2019.csv
/_MAB602_2021_1_Prova_Individual_DWSTD_BCMT_BCC_Data_Warehouse.pdf
/workspace.code-workspace
/microdados_enade.zip